aws {
  key = "AWS_ACCESS_KEY_ID"
  secret = "AWS_SECRET_ACCESS_KEY"
}

notify {
  type = "hipchat"
  token = "hipchat token"
  room = "room id or room name"
  name = "(optional) hipchat notify name"
}

resource "default" {
  instance = "default RDS identifier"
  region = "default region"
  user = "db access user"
  password = "db password"
  warmup = "(optional) db warmup sql file path."
}

resource "otherresource" {
  instance = "foo-database"
  region = "ap-northeast-1"
  user = "yudoufu"
  password = "barpassword"
  warmup = "warmup.sql.example"
}
